[submodule "Ex_Files_Selenium_EssT/Exercise Files/05_03/start/Pastor_Pro_Automation_Repository"]
	path = Ex_Files_Selenium_EssT/Exercise Files/05_03/start/Pastor_Pro_Automation_Repository
	url = https://github.com/Percyvalmg/pastor-pro-automation.git
